<!-- WRAPPER -->
    <!-- PAGE TITLE -->
      <header id="page-title">

        <div class="container">
          <h1>Productions</h1>

          <ul class="breadcrumb">
              <%= render_breadcrumbs :tag => :li, :separator => "" %>
            
          </ul>
        </div>
      </header>
      <div class="container magazine">
        <div class="row">

          <!-- center column -->
          <div class="col-md-12">
            

            <!-- CATEGORY TITLE -->
            <h3 class="page-header nomargin-top">
              <strong class="styleColor">Current</strong> Productions
            </h3>


           


            <% unless @current_production == nil %>
            <!-- FEATURED -->
            <div class="row">
              <div class="col-md-6">
                <!-- carousel -->
                <div class="owl-carousel controlls-over nomargin" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "itemsScaleUp":true}'>
                  <div>
                    <img alt="" class="img-responsive" src="assets/images/demo/magazine/article/8.jpg" />
                  </div>
                  <div>
                    <img alt="" class="img-responsive" src="assets/images/demo/magazine/article/7.jpg" />
                  </div>
                </div>
                <!-- /carousel -->

              </div>
              <div class="col-md-6">
                <h2><%= link_to @current_production.try(:title), production_url(@current_production), :class=>"styleColor" %></h2>
               
                <p><%= @current_production.description %></p>
                <%= link_to "Read More", production_url(@current_production), :class=> "btn btn-default"%>
               
              </div>
            </div>
            <!-- /FEATURED -->
            <% end %>



            <hr class="half-margins" /><!-- separator -->
            <!-- CATEGORY TITLE -->
            <h3 class="page-header nomargin-top">
              <strong class="styleColor">Past</strong> Productions
            </h3>
            <hr class="half-margins" /><!-- separator -->

          


          <% @productions.each do |production| %>


            <!-- article summary -->
            <div class="row">
              <div class="col-md-4 text-center">
                <img alt="" class="img-responsive" src="assets/images/demo/magazine/article/1.jpg" />
                <!-- star rated -->
                <ul class="star-rated styleSecondColor">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star-o"></i></li>
                  <li><i class="fa fa-star-o"></i></li>
                </ul>
                <!-- /star rated -->
              </div>
              <div class="col-md-8">
                <h4><%= link_to production.title, production_url(production) %></h4>
                <p>
                  <%= production.description %>
                </p>
              </div>
            </div>
            <!-- /article summary -->
            <% end %>
                        
            <hr class="half-margins" /><!-- separator -->


          

                        
   




            <hr /><!-- final separator -->


            <!-- PAGINATION -->
            <div class="row">

             

            </div>
            <!-- /PAGINATION -->

          </div>
          <!-- /center column -->



        </div>

      </div>
