<%  add_breadcrumb @production.title, production_url(@production) %>
<% content_for :page_title, @production.title %>
  <!-- PAGE TITLE -->
      <header id="page-title">

        <div class="container">
        <div class="pull-right">
          <% if user_signed_in? %>
            <% if current_user.has_role? :admin %>
              <%= link_to edit_production_path(@production) do %>
                <i class="featured-icon half fa fa-edit"></i>
              <% end %>
              <%= link_to edit_production_path(@production) do %>
                <i class="featured-icon half fa fa-trash-o"></i>
              <% end %>
            <% end %>
          <% end %>
          </div>
          <h2>Productions</h2>

          <ul class="breadcrumb">
              <%= render_breadcrumbs :tag => :li, :separator => "" %>
            
          </ul>

        </div>
      </header>
        <section class="container">

          <div class="row">
            <div class="left col-md-9">

              <!-- article title -->
              <header class="blog-post">
                <h1><%= @production.title %></h1>
              </header>


              <!-- article content -->
              <article>
                <p>
                  <%= simple_format(@production.description) %>
                </p>
              </article>

              
              <div class="divider"><!-- divider -->
                <i class="fa fa-star"></i>
              </div>



            </div>
            <div class="right col-md-3">
              <div class="widget">
                <h4><%= link_to "Tickets", @production.tickets_url %></h4>
                   
               <div class="clearfix"></div>
              </div>
             
              <div class="widget">
                <h4>Cast and Crew</h4>
              <div class="clearfix"></div>
              </div>

          </div>


        </section>

      </div>

    <!-- /WRAPPER -->
