<!-- REVOLUTION SLIDER -->
			<div class="fullwidthbanner-container roundedcorners">
				<div class="fullwidthbanner">
					<ul>	

						<!-- SLIDE  -->
						<li data-transition="fade" data-slotamount="7" data-masterspeed="1500">

							<!-- COVER IMAGE -->
							<img src="<%= asset_path "revolution_slider/slidebg1.jpg" %>" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

							<!-- LAYER NR. 1 -->
							<div class="tp-caption lightgrey_divider skewfromrightshort customout"
								data-x="85"
								data-y="224"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="1200"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="off"
								style="z-index: 2">
							</div>

							
							<!-- LAYER NR. 2 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-100"
								data-y="bottom" data-voffset="0"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="1500"
								data-start="700"
								data-easing="Elastic.easeInOut"
								data-endspeed="500"
								data-endeasing="Power1.easeIn"
								style="z-index: 3"><img src="<%= asset_path "presents.png" %>" alt="">
							</div>
						    <% if current_production == nil %>
						    <div class="tp-caption medium_thin_grey skewfromrightshort customout"
								data-x="80"
								data-y="66"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="800"
								data-easing="Back.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="off"
								style="z-index: 4">Upcoming Productions
							</div>


							<!-- LAYER NR. 5 -->
							<div class="tp-caption small_thin_grey customin customout"
								data-x="80"
								data-y="120"
								data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="1300"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="off"
								style="z-index: 8">
								
								<%= link_to "Read More", production_url %>
							</div>
						    <% else %>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption medium_thin_grey skewfromrightshort customout"
								data-x="80"
								data-y="66"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="800"
								data-easing="Back.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="off"
								style="z-index: 4"><%= current_production.title %>
							</div>


							<!-- LAYER NR. 5 -->
							<div class="tp-caption small_thin_grey customin customout"
								data-x="80"
								data-y="120"
								data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="1300"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="off"
								style="z-index: 8">
								<%= current_production.description.first(50) %><br>
								<a href="<%= production_url(current_production) %>">Read more...</a>
							</div>
							<% end %>



			

						</li>

					</ul>
					<div class="tp-bannertimer"></div>
				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->
			<section class="container text-center">
				<h1 class="text-center">
					<strong>Henderson County</strong> Performing Arts Center
					<span class="subtitle">To Educate. To Entertain. To Enrich our community.</span>
				</h1>
				<p class="lead">The Henderson County Performing Arts Center has committed to a capital campaign to invest in the future of the theatre. The Legacy program will enlist the support of the communities, civic organizations, schools, families, patrons and ARTS supporters who understand the part arts organizations play in a community’s overall quality of living.</p>
			</section>


			<div class="container">
				<hr class="half-margins" /><!-- hr line -->
			</div>



<!-- FEATURED BOXES 3 -->
			<section class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="featured-box nobg border-only">
							<div class="box-content">
								<i class="fa fa-users"></i>
								<h4>For Everyone</h4>
								<p>Shows that will entertain every age group</p>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="featured-box nobg border-only left-separator">
							<i class="fa fa-heart"></i>
							<h4>Upcoming Shows</h4>
							<p>The Arts in Athens</p>
							<%= link_to "Show Schedule", productions_url %>
						</div>
					</div>
					<div class="col-md-3">
						<div class="featured-box nobg border-only left-separator">
							<i class="fa fa-leaf"></i>
							<h4>Giving Back</h4>
							<p>We give back to the community. </p>
							<%= link_to "Community Events", "#" %>
						</div>
					</div>
					<div class="col-md-3">
						<div class="featured-box nobg border-only left-separator">
							<i class="fa fa-ticket"></i>
							<h4>Online Ticketing</h4>
							<p>Purchase Your tickets online</p>
							<%= link_to "Box Office", "https://buy.ticketstothecity.com/venue.php?org_id=38" %>
						</div>
					</div>
				</div>
			</section>
			<!-- /FEATURED BOXES 3 -->
			<!-- CALLOUT -->
			<div class="bs-callout margin-top text-center styleBackground noradius">
				<h3>Want to  <strong>Act?</strong> Check out our <strong>casting call</strong>.
				<a href="#" target="_blank" class="btn btn-primary btn-lg">Casting</a></h3>
			</div>
			<!-- /CALLOUT -->
		    <!-- PARALLAX -->
			<section class="parallax delayed margin-footer" data-stellar-background-ratio="0.7" style="background-image: url('<%= asset_path "parallax.jpg" %>');">
				<span class="overlay"></span>

				<div class="container">

					<div class="row">
						<!-- left content -->
						<div class="col-md-7 animation_fade_in">
							<h2>Support <strong>Local Theater</strong></h2>
							<p class="lead">
								Our theater is made possible through the generous donations by members of the the community just like you.
							</p>
							<p>
								 Your donations help to provide an entertaining and valuable service to our community. 
							</p>
							<p>
								<small><em> Thank You For Your Support</em></small>
							</p>

						     <%= link_to "Donate", "https://buy.ticketstothecity.com/venue.php?org_id=38", :class=>"btn btn-primary btn-large" %>
						</div>

						<!-- right image -->
						<div class="col-md-5 animation_fade_in">
							
						</div>
					</div>
				</div>
			</section>
			<!-- PARALLAX -->
